*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}
body {

height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#innerDiv {
    border: 1px solid black;
    padding: 30px 80px;
}
#innerDiv div{
    margin: 10px 0px;
}
button{
    padding: 5px 10px;
    font-weight: 600;
    font-size: 15px;
}
#displayValue{
    font-weight: 600;
    font-size: 15px;
    padding: 10px 12px;
    margin: 0px 5px;
    border: 1px solid black;
}