*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(59, 64, 76);
}
header ul {
    display: flex;
    gap: 25px;
    justify-content: end;
    list-style: none;
    padding: 10px 20px;
}
header ul li a{
   text-decoration: none;
   color:white
}
header ul li:first-child{
   display: none;
}
header ul li:nth-child(2){
    padding: 3px 7px;
    box-sizing: border-box;
    background-color: rgb(130, 130, 239);
    border-radius: 10px;
}

/* main content */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
main .div1 .img-text div{
    display: flex;
    gap: 10px;   
}


main .div1 .img-text div h1{
    color: white;
    font-size: 18px;
}
main .div1 .img-text h1 .name{
    color: white;
    font-size: 35px;
}
main .div1 .img-text h1 .developer{
    color: rgb(156, 158, 7);
    font-size: 25px;
}
main .div1{
    display: flex;
    align-items: center;
    gap: 20px;
}

main .projects{
    margin: 2vh 0px;
    color: white;
    font-size: 22px;
    border-bottom: 4px solid blue;
}


main .div2{
   
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 34vw;
    display: flex;
}

main .div2 div p{
    color: white;
    font-size: 15px;

    text-align: center;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h1{
    margin: 2vh 0px;
    color: white;
    font-size: 22px;
    border-bottom: 4px solid blue;
}
footer div ul{
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 2vh 0px;
}
footer div ul li a{
    text-decoration: none;
}
footer div ul li a i{
    font-size: 1cm;
    color: white;
}





/* media query apply */

@media screen and (max-width:850px){

    header ul{
        justify-content: start;
    }
    #navlink2 , #navlink3, #navlink4, #navlink5{
        display: none;
    }
    #navlink1{
        display: block;
    }
    .div1{
        flex-direction: column;
    }

    main .div1 .img-text div{
        justify-content: center;
    }
    main .div1 .img-text{
       text-align: center;
    }
}