*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#0f0f10;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

ul{
    list-style: none;
}

/* header */
header{
    display: flex;
}

/* header left div */

header .left-div{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
}
header .left-div img:first-child{
    width: 1cm;
    height: 1cm;
    padding-top: 5vh;
}
header .left-div img:nth-child(2){
    width: 20vw;
    height: 80vh;
}

/* header right div */

.right-div nav ul{
    display: flex;
    gap: 1.5cm;
    padding-top: 5vh;
    justify-content: center;
}

.right-div nav ul li a{
    
    font-size: 20px;
    font-weight: 600;
}
.right-div nav ul li #navlink5{
   
    padding: 0.35cm 1.2cm;
    background:  #1e1e21;
    border-radius: 8px;
    border-left: 4px solid grey;
    border-top: 4px solid grey;  
}

.right-div #onear {
    box-sizing: border-box;
    padding-top: 120px;
    padding-left: 120px;
}

.right-div .beats-3{

    box-sizing: border-box;
    padding-left: 60px;
}

.right-div .beats-3 h1{
    font-size: 60px;
}
.right-div .beats-3 h3{
    font-size: 25px;
    box-sizing: border-box;
    padding: 35px 0px;
}
.right-div .beats-3 p{
    font-size: 18px;
    line-height: 1.8;
}

.right-div .beats-3 .shopping-bag{
    display: flex;
    align-items: center;
    gap: 0.7cm;
    margin-top: 30px;
    background-color: #1e1e21;
    padding: 0.4cm 0.5cm;
    box-sizing: border-box;
    width: 50%;
    border-radius: 10px;
}
.right-div .beats-3 .shopping-bag span{
    font-size: 25px;
    font-weight: 600;
}


/* social media icons section */

.social-media-icons-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin: 8vh 0px;
}

/* styling for specs section */

.specs > img{
    margin: 8vh 0px;
}
.specs{
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specs .specs-details {
   
    display: flex;  
    gap: 150px;
    
}
.specs .specs-details .specs-list-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.specs .specs-details .specs-list-items .item{
    margin: 1.3vh 0px;
}

.specs .specs-details .specs-list-items .item p:nth-child(2){
    margin: 0.5vh 0px;
    font-size: 20px;
    font-weight: 600;
}
.specs .specs-details .specs-list-items .item p:nth-child(3){
    font-size: 15px;
}         

.specs .specs-details .specs-list-items .mic{
    margin-left:1cm;
}

.specs .specs-details .specs-list-items .bluetooth{
    margin-left:1cm;
}

/* styling for case section */

.case{
    margin: 8vh 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.case > img {
    margin: 8vh 0px;
}

.case .case-des{
    display: flex;
    align-items: center;
    gap: 2cm;
}
.case .case-des .case-content p{
    line-height: 1.8;
}

.case .case-des .case-content div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1cm;
    padding: 13px 25px;
    border-radius: 8px;
    margin: 3vh 1.5vh;
    background-color: #1e1e21;
}


/* Styling for buy now section */

.buy-now-section > img{
    width: 11.5cm;
    height: 7.5cm;
}
.buy-now-section{
    width: 56vw;
    margin: 16vh auto 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
    padding: 1.5cm 3cm;
    background-color: #1e1e21;
    border-radius: 20px;
}

.buy-now-section h2{
    font-size: 25px;
}
.buy-now-section .buy-now-content > p{
    margin: 20px 0px;
    font-size: 18px;
}
.buy-now-section .buy-now-content .buy-now-button{
    display: flex;
    width: 4cm;
    gap: 0.7cm;
    border-radius: 10px;
    background-color: #0f0f10;
    justify-content: center;
    align-items: center;
    
   
    padding: 15px 10px;
}


/* styling for choose your section */

.headphone-styles{
    display: flex;
    flex-direction: column;
    width: 32%;
    box-sizing: border-box;
    align-items: center;
    margin: auto;
}
.headphone-styles > img{
    width: 6cm;
    height: 2.5cm;
}

.headphone-list{
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.headphone-styles .headphone-list .headphone{
    background-color: #1e1e21;
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 10px;
}

.headphone-styles .headphone-list .headphone > img{
    width: 100px;
    height: 120px;
    position: absolute;
    top: -1.5cm;
    left: 0.8cm;
}

.headphone-styles .headphone-list .headphone > div{
    display: flex;
    align-items: center;
    gap: 1cm;
    position: absolute;
    bottom: 0px;
    padding: 0px 20px 10px;
}



.headphone-styles .headphone-list .headphone div p span{
    font-size: 14px;
    font-weight: 100;
    color: white;
}
.headphone-styles .headphone-list .headphone div p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(247, 243, 243);
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 80vw;
    margin: 16vh 0px 16vh 16vw;
}

footer .products h3{
    font-size: 25px;
}
footer .products , .support{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
footer .products >p{
   line-height: 1.8;
}

footer .support h3{
    font-size: 25px;
}
footer .support > p{
    line-height: 1.8;
}

.email-socialmedia .email{
    display: flex;
    padding: 0.15cm 0.2cm;
    gap: 3cm;
    align-items: center;
     background-color: #1e1e21;
     border-radius: 10px;
}

.email-socialmedia .email > div{
    display: flex;
    gap: 30px;
    padding: 0.35cm 0.6cm;
    background-color: #0f0f10;
    border-radius: 10px;
}

.email-socialmedia .social-media-links{
    display: flex;
    gap: 0.8cm;
    margin-top: 1cm;
}
